﻿.bold {
  font-weight: 700;
}
.future-functionality {
  background: rgba(255, 230, 0, 0.5);
  padding: 3px 5px;
  margin: -3px -5px;
  line-height: 1.7;
  border-radius: 3px;
  display: none;
}
.background-white {
  background-color: white;
}
.tile {
  border: solid #0c233f;
  float: left;
  position: relative;
  width: 260px;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
}
a.tile {
  color: #0c233f;
}
a.tile:hover {
  color: #18477f;
  text-decoration: none;
  box-shadow: 0px 0px 30px 0px #707c89;
}
.tile-inner {
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}
.tile-graphic {
  font-size: 12em;
}
.tile-text {
  font-size: 20px;
}
.tooltip.onHoldClass {
  width: 310px;
}
.tooltip.onHoldClass .tooltip-inner {
  max-width: 310px;
  text-align: left;
  padding-left: 15px;
  padding-top: 10px;
}
.top0 {
  margin-top: 0;
}
.top5 {
  margin-top: 5px;
}
.top7 {
  margin-top: 7px;
}
.top10 {
  margin-top: 10px;
}
.top15 {
  margin-top: 15px;
}
.top17 {
  margin-top: 17px;
}
.top30 {
  margin-top: 30px;
}
.bottom0 {
  margin-bottom: 0;
}
.bottom5 {
  margin-bottom: 5px;
}
.bottom7 {
  margin-bottom: 7px;
}
.bottom10 {
  margin-bottom: 10px;
}
.bottom15 {
  margin-bottom: 15px;
}
.bottom17 {
  margin-bottom: 17px;
}
.bottom30 {
  margin-bottom: 30px;
}
.left0 {
  margin-left: 5px;
}
.left5 {
  margin-left: 5px;
}
.left7 {
  margin-left: 7px;
}
.left10 {
  margin-left: 10px;
}
.left15 {
  margin-left: 15px;
}
.left17 {
  margin-left: 17px;
}
.left30 {
  margin-left: 30px;
}
.right0 {
  margin-right: 0;
}
.right5 {
  margin-right: 5px;
}
.right7 {
  margin-right: 7px;
}
.right10 {
  margin-right: 10px;
}
.right15 {
  margin-right: 15px;
}
.right17 {
  margin-right: 17px;
}
.right30 {
  margin-right: 30px;
}
.top_pad0 {
  padding-top: 0;
}
.top_pad5 {
  padding-top: 5px;
}
.top_pad7 {
  padding-top: 7px;
}
.top_pad10 {
  padding-top: 10px;
}
.top_pad15 {
  padding-top: 15px;
}
.top_pad17 {
  padding-top: 17px;
}
.top_pad30 {
  padding-top: 30px;
}
.bottom_pad0 {
  padding-bottom: 0;
}
.bottom_pad5 {
  padding-bottom: 5px;
}
.bottom_pad7 {
  padding-bottom: 7px;
}
.bottom_pad10 {
  padding-bottom: 10px;
}
.bottom_pad15 {
  padding-bottom: 15px;
}
.bottom_pad17 {
  padding-bottom: 17px;
}
.bottom_pad30 {
  padding-bottom: 30px;
}
.left_pad0 {
  padding-left: 5px;
}
.left_pad5 {
  padding-left: 5px;
}
.left_pad7 {
  padding-left: 7px;
}
.left_pad10 {
  padding-left: 10px;
}
.left_pad15 {
  padding-left: 15px;
}
.left_pad17 {
  padding-left: 17px;
}
.left_pad30 {
  padding-left: 30px;
}
.right_pad0 {
  padding-right: 0;
}
.right_pad5 {
  padding-right: 5px;
}
.right_pad7 {
  padding-right: 7px;
}
.right_pad10 {
  padding-right: 10px;
}
.right_pad15 {
  padding-right: 15px;
}
.right_pad17 {
  padding-right: 17px;
}
.right_pad30 {
  padding-right: 30px;
}
.no-padding {
  padding: 0;
}
.no-top-padding {
  padding-top: 0;
}
.no-bottom-padding {
  padding-bottom: 0;
}
.no-left-padding {
  padding-left: 0;
}
.width25 {
  width: 25%;
}
.width50 {
  width: 50%;
}
.width75 {
  width: 75%;
}
.width100 {
  width: 100%;
}
.max-width1250 {
  max-width: 1250px;
}
.red-color {
  color: #da1f37;
}
.warning {
  color: #f0ad4e;
}
.green-color {
  color: #00a77f;
}
.text-gray {
  color: #b3c1bf;
}
.text-gray-dark {
  color: #707c89;
}
.blue-accent {
  color: #00b6bd;
}
.cursor-hover {
  cursor: pointer;
}
.cursor-hover.green-color:hover {
  color: #00daa6;
}
.cursor-hover.red-color:hover {
  color: #ff4d4d;
}
.background-gray-lighter {
  background-color: #ebefee;
}
.no-border-background {
  border: none;
  border-collapse: collapse;
  background-color: transparent;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.vertical-center {
  vertical-align: middle;
}
.vertical-bottom {
  vertical-align: bottom;
}
.vertical-top {
  vertical-align: top;
}
.negative-number {
  color: red;
}
.navbar-nav li a {
  line-height: 50px;
  vertical-align: middle;
}
.navbar-nav li a i {
  margin: 10px;
}
.navbar-brand {
  padding-left: 25px;
}
.container-fluid {
  margin: 15px 30px 15px 30px;
}
.table-borders-vertical th,
.table-borders-vertical td {
  border: 1px solid black;
  border-top: none !important;
  border-right: 1px solid black !important;
  border-bottom: none !important;
  border-left: 1px solid black !important;
}
.table-borders-none th,
.table-borders-none td {
  border: none !important;
}
.validation-highlight textarea.ng-invalid.ng-touched,
input.ng-invalid.ng-touched,
.validation-highlight select.ng-invalid.ng-touched,
.validation-highlight div.ng-invalid {
  border-color: red;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px red;
  outline: 0 none;
}
textarea {
  resize: vertical;
}
.custom-dropdown button {
  width: 100%;
  text-align: left;
  max-height: 34px;
  overflow: hidden;
}
.custom-dropdown button i {
  float: right;
  margin-top: 3px;
}
.custom-dropdown ul {
  max-height: 500px;
}
.custom-dropdown ul div {
  margin: 5px 10px 5px 10px;
}
div.form-control {
  overflow: hidden;
}
div.form-control.right-side {
  -webkit-border-radius: 0 4px 4px 0 !important;
  -moz-border-radius: 0 4px 4px 0 !important;
  border-radius: 0 4px 4px 0 !important;
}
html {
  -ms-overflow-style: scrollbar;
}
label {
  font-weight: normal;
  color: #0c233f;
}
body {
  min-width: 650px;
}
th {
  font-weight: normal;
  color: #0c233f;
}
.table-layout-fixed {
  table-layout: fixed;
}
.td-ellipsis {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sortable {
  cursor: pointer;
}
.st-sort-ascent:after {
  content: '\25B2';
}
.st-sort-descent:after {
  content: '\25BC';
}
.scrollable-list {
  max-height: 200px;
  overflow: auto;
}
.modal {
  display: block;
}
.fa-2x-text {
  vertical-align: 5px;
}
.dropdown-menu {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
input::-ms-clear {
  display: none;
}
.color-error {
  color: red;
}
.color-warning-1 {
  color: darkorange;
}
.color-warning-2 {
  color: orange;
}
.color-success {
  color: green;
}
.color-other {
  color: blue;
}
/*# sourceMappingURL=main.css.map */