﻿<section class="row">
    <div class="col-xs-12 top15 well well-sm">
        <table st-table="home.visibleResults" st-set-filter="customFilter" st-safe-src="home.results" id="results" class="table table-responsive table-striped vertical-borders table-bordered">
            <thead>
                <tr>
                    <th class="bold col-xs-1">Id</th>
                    <th class="bold col-xs-5">Path</th>
                    <th class="bold col-xs-2">Date</th>
                    <th class="bold col-xs-1">Confidence</th>
                    <th class="bold col-xs-2">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{form.result.Id}}</td>
                    <td>{{form.result.Path}}</td>
                    <td>{{form.result.TimeStamp | date}}</td>
                    <td>{{form.result.OverallConfidence}}</td>
                    <td ng-class="{'color-warning-1': form.result.OverallStatus === 'ConfidenceWarning', 'color-warning-2': form.result.OverallStatus === 'ValidationWarning', 'color-error': form.result.OverallStatus === 'Error', 'color-success': form.result.OverallStatus === 'Success'}">{{form.result.OverallStatus}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-12 col-lg-8 top15">
        <div class="well well-sm">
            <table class="table table-striped vertical-borders table-bordered">
                <thead>
                    <tr>
                        <th class="bold">Order Number</th>
                        <th class="bold">Barcode</th>
                        <th class="bold">Refuse - Deceased</th>
                        <th class="bold">Refuse - Temp Absence</th>
                        <th class="bold">Refuse - DaVita Discharge</th>
                        <th class="bold">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td ng-class="{'color-other': form.result.OrderNumber.Model}">{{form.result.OrderNumber.Model}} ({{form.result.OrderNumber.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.FormIdentitifer.Model}">{{form.result.FormIdentifier.Model}}</td>
                        <td ng-class="{'color-other': form.result.Form_Refuse_Deceased.Model === true}">{{form.result.Form_Refuse_Deceased.Model}} ({{form.result.Form_Refuse_Deceased.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Form_Refuse_TempAbsence.Model === true}">{{form.result.Form_Refuse_TempAbsence.Model}} ({{form.result.Form_Refuse_TempAbsence.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Form_Refuse_DaVitaDischarge.Model === true}">{{form.result.Form_Refuse_DaVitaDischarge.Model}} ({{form.result.Form_Refuse_DaVitaDischarge.Confidence}})</td>
                        <td ng-class="{'color-warning-1': form.result.Form_Status === 'ConfidenceWarning', 'color-warning-2': form.result.Form_Status === 'ValidationWarning', 'color-error': form.result.Form_Status === 'Error', 'color-success': form.result.Form_Status === 'Success'}">{{form.result.Form_Status}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped vertical-borders table-bordered">
                <thead>
                    <tr>
                        <th class="bold">Rx Number</th>
                        <th class="bold">Accept</th>
                        <th class="bold">Refuse</th>
                        <th class="bold">Refuse - Discontinued</th>
                        <th class="bold">Refuse - Overstock</th>
                        <th class="bold">Refuse - Unknown</th>
                        <th class="bold">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td ng-class="{'color-other': form.result.Medication1_ID.Model}">{{form.result.Medication1_ID.Model}} ({{form.result.Medication1_ID.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication1_Accept.Model === true}">{{form.result.Medication1_Accept.Model}} ({{form.result.Medication1_Accept.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication1_Refuse.Model === true}">{{form.result.Medication1_Refuse.Model}} ({{form.result.Medication1_Refuse.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication1_Refuse_Discontinued.Model === true}">{{form.result.Medication1_Refuse_Discontinued.Model}} ({{form.result.Medication1_Refuse_Discontinued.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication1_Refuse_Overstock.Model === true}">{{form.result.Medication1_Refuse_Overstock.Model}} ({{form.result.Medication1_Refuse_Overstock.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication1_Refuse_Unknown.Model === true}">{{form.result.Medication1_Refuse_Unknown.Model}} ({{form.result.Medication1_Refuse_Unknown.Confidence}})</td>
                        <td ng-class="{'color-warning-1': form.result.Medication1_Status === 'ConfidenceWarning', 'color-warning-2': form.result.Medication1_Status === 'ValidationWarning', 'color-error': form.result.Medication1_Status === 'Error', 'color-success': form.result.Medication1_Status === 'Success'}">{{form.result.Medication1_Status}}</td>
                    </tr>
                    <tr>
                        <td ng-class="{'color-other': form.result.Medication2_ID.Model}">{{form.result.Medication2_ID.Model}} ({{form.result.Medication2_ID.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication2_Accept.Model === true}">{{form.result.Medication2_Accept.Model}} ({{form.result.Medication2_Accept.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication2_Refuse.Model === true}">{{form.result.Medication2_Refuse.Model}} ({{form.result.Medication2_Refuse.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication2_Refuse_Discontinued.Model === true}">{{form.result.Medication2_Refuse_Discontinued.Model}} ({{form.result.Medication2_Refuse_Discontinued.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication2_Refuse_Overstock.Model === true}">{{form.result.Medication2_Refuse_Overstock.Model}} ({{form.result.Medication2_Refuse_Overstock.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication2_Refuse_Unknown.Model === true}">{{form.result.Medication2_Refuse_Unknown.Model}} ({{form.result.Medication2_Refuse_Unknown.Confidence}})</td>
                        <td ng-class="{'color-warning-1': form.result.Medication2_Status === 'ConfidenceWarning', 'color-warning-2': form.result.Medication2_Status === 'ValidationWarning', 'color-error': form.result.Medication2_Status === 'Error', 'color-success': form.result.Medication2_Status === 'Success'}">{{form.result.Medication2_Status}}</td>
                    </tr>
                    <tr>
                        <td ng-class="{'color-other': form.result.Medication3_ID.Model}">{{form.result.Medication3_ID.Model}} ({{form.result.Medication3_ID.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication3_Accept.Model === true}">{{form.result.Medication3_Accept.Model}} ({{form.result.Medication3_Accept.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication3_Refuse.Model === true}">{{form.result.Medication3_Refuse.Model}} ({{form.result.Medication3_Refuse.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication3_Refuse_Discontinued.Model === true}">{{form.result.Medication3_Refuse_Discontinued.Model}} ({{form.result.Medication3_Refuse_Discontinued.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication3_Refuse_Overstock.Model === true}">{{form.result.Medication3_Refuse_Overstock.Model}} ({{form.result.Medication3_Refuse_Overstock.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication3_Refuse_Unknown.Model === true}">{{form.result.Medication3_Refuse_Unknown.Model}} ({{form.result.Medication3_Refuse_Unknown.Confidence}})</td>
                        <td ng-class="{'color-warning-1': form.result.Medication3_Status === 'ConfidenceWarning', 'color-warning-2': form.result.Medication3_Status === 'ValidationWarning', 'color-error': form.result.Medication3_Status === 'Error', 'color-success': form.result.Medication3_Status === 'Success'}">{{form.result.Medication3_Status}}</td>
                    </tr>
                    <tr>
                        <td ng-class="{'color-other': form.result.Medication4_ID.Model}">{{form.result.Medication4_ID.Model}} ({{form.result.Medication4_ID.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication4_Accept.Model === true}">{{form.result.Medication4_Accept.Model}} ({{form.result.Medication4_Accept.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication4_Refuse.Model === true}">{{form.result.Medication4_Refuse.Model}} ({{form.result.Medication4_Refuse.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication4_Refuse_Discontinued.Model === true}">{{form.result.Medication4_Refuse_Discontinued.Model}} ({{form.result.Medication4_Refuse_Discontinued.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication4_Refuse_Overstock.Model === true}">{{form.result.Medication4_Refuse_Overstock.Model}} ({{form.result.Medication4_Refuse_Overstock.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication4_Refuse_Unknown.Model === true}">{{form.result.Medication4_Refuse_Unknown.Model}} ({{form.result.Medication4_Refuse_Unknown.Confidence}})</td>
                        <td ng-class="{'color-warning-1': form.result.Medication4_Status === 'ConfidenceWarning', 'color-warning-2': form.result.Medication4_Status === 'ValidationWarning', 'color-error': form.result.Medication4_Status === 'Error', 'color-success': form.result.Medication4_Status === 'Success'}">{{form.result.Medication4_Status}}</td>
                    </tr>
                    <tr>
                        <td ng-class="{'color-other': form.result.Medication5_ID.Model}">{{form.result.Medication5_ID.Model}} ({{form.result.Medication5_ID.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication5_Accept.Model === true}">{{form.result.Medication5_Accept.Model}} ({{form.result.Medication5_Accept.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication5_Refuse.Model === true}">{{form.result.Medication5_Refuse.Model}} ({{form.result.Medication5_Refuse.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication5_Refuse_Discontinued.Model === true}">{{form.result.Medication5_Refuse_Discontinued.Model}} ({{form.result.Medication5_Refuse_Discontinued.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication5_Refuse_Overstock.Model === true}">{{form.result.Medication5_Refuse_Overstock.Model}} ({{form.result.Medication5_Refuse_Overstock.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication5_Refuse_Unknown.Model === true}">{{form.result.Medication5_Refuse_Unknown.Model}} ({{form.result.Medication5_Refuse_Unknown.Confidence}})</td>
                        <td ng-class="{'color-warning-1': form.result.Medication5_Status === 'ConfidenceWarning', 'color-warning-2': form.result.Medication5_Status === 'ValidationWarning', 'color-error': form.result.Medication5_Status === 'Error', 'color-success': form.result.Medication5_Status === 'Success'}">{{form.result.Medication5_Status}}</td>
                    </tr>
                    <tr>
                        <td ng-class="{'color-other': form.result.Medication6_ID.Model}">{{form.result.Medication6_ID.Model}} ({{form.result.Medication6_ID.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication6_Accept.Model === true}">{{form.result.Medication6_Accept.Model}} ({{form.result.Medication6_Accept.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication6_Refuse.Model === true}">{{form.result.Medication6_Refuse.Model}} ({{form.result.Medication6_Refuse.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication6_Refuse_Discontinued.Model === true}">{{form.result.Medication6_Refuse_Discontinued.Model}} ({{form.result.Medication6_Refuse_Discontinued.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication6_Refuse_Overstock.Model === true}">{{form.result.Medication6_Refuse_Overstock.Model}} ({{form.result.Medication6_Refuse_Overstock.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication6_Refuse_Unknown.Model === true}">{{form.result.Medication6_Refuse_Unknown.Model}} ({{form.result.Medication6_Refuse_Unknown.Confidence}})</td>
                        <td ng-class="{'color-warning-1': form.result.Medication6_Status === 'ConfidenceWarning', 'color-warning-2': form.result.Medication6_Status === 'ValidationWarning', 'color-error': form.result.Medication6_Status === 'Error', 'color-success': form.result.Medication6_Status === 'Success'}">{{form.result.Medication6_Status}}</td>
                    </tr>
                    <tr>
                        <td ng-class="{'color-other': form.result.Medication7_ID.Model}">{{form.result.Medication7_ID.Model}} ({{form.result.Medication7_ID.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication7_Accept.Model === true}">{{form.result.Medication7_Accept.Model}} ({{form.result.Medication7_Accept.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication7_Refuse.Model === true}">{{form.result.Medication7_Refuse.Model}} ({{form.result.Medication7_Refuse.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication7_Refuse_Discontinued.Model === true}">{{form.result.Medication7_Refuse_Discontinued.Model}} ({{form.result.Medication7_Refuse_Discontinued.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication7_Refuse_Overstock.Model === true}">{{form.result.Medication7_Refuse_Overstock.Model}} ({{form.result.Medication7_Refuse_Overstock.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication7_Refuse_Unknown.Model === true}">{{form.result.Medication7_Refuse_Unknown.Model}} ({{form.result.Medication7_Refuse_Unknown.Confidence}})</td>
                        <td ng-class="{'color-warning-1': form.result.Medication7_Status === 'ConfidenceWarning', 'color-warning-2': form.result.Medication7_Status === 'ValidationWarning', 'color-error': form.result.Medication7_Status === 'Error', 'color-success': form.result.Medication7_Status === 'Success'}">{{form.result.Medication7_Status}}</td>
                    </tr>
                    <tr>
                        <td ng-class="{'color-other': form.result.Medication8_ID.Model}">{{form.result.Medication8_ID.Model}} ({{form.result.Medication8_ID.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication8_Accept.Model === true}">{{form.result.Medication8_Accept.Model}} ({{form.result.Medication8_Accept.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication8_Refuse.Model === true}">{{form.result.Medication8_Refuse.Model}} ({{form.result.Medication8_Refuse.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication8_Refuse_Discontinued.Model === true}">{{form.result.Medication8_Refuse_Discontinued.Model}} ({{form.result.Medication8_Refuse_Discontinued.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication8_Refuse_Overstock.Model === true}">{{form.result.Medication8_Refuse_Overstock.Model}} ({{form.result.Medication8_Refuse_Overstock.Confidence}})</td>
                        <td ng-class="{'color-other': form.result.Medication8_Refuse_Unknown.Model === true}">{{form.result.Medication8_Refuse_Unknown.Model}} ({{form.result.Medication8_Refuse_Unknown.Confidence}})</td>
                        <td ng-class="{'color-warning-1': form.result.Medication8_Status === 'ConfidenceWarning', 'color-warning-2': form.result.Medication8_Status === 'ValidationWarning', 'color-error': form.result.Medication8_Status === 'Error', 'color-success': form.result.Medication8_Status === 'Success'}">{{form.result.Medication8_Status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-12 col-lg-4 top15">
        <div class="well well-sm">
            <a ng-click="form.openLightboxModal()"><img ng-src={{form.imagePath}} class="img-responsive"></a>
        </div>
        </div>
</section>