﻿<div class="alert {{topNotification.class}}">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <span class="bold right10">{{topNotification.title}}</span>{{topNotification.message}}
</div>