﻿<section class="row">
    <div class="col-xs-12 top15">
        <div class="well col-xs-12">
            <table st-table="home.visibleResults" st-set-filter="customFilter" st-safe-src="home.results" id="results" class="table table-responsive table-striped vertical-borders table-bordered">
                <thead>
                    <tr>
                        <td colspan="6">
                            <label for="results" class="text-uppercase bold">Results</label>
                            <span ng-switch="home.showFilters" ng-click="home.onClickFilter()">
                                <button class="btn btn-primary pull-right" ng-switch-when="true" st-reset-search>Hide Filters</button>
                                <button class="btn btn-primary pull-right" ng-switch-when="false" st-reset-search>Show Filters</button>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th st-sort="Id" class="sortable bold col-xs-1">Id</th>
                        <th st-sort="Path" class="sortable bold col-xs-5">Path</th>
                        <th st-sort="TimeStamp" class="sortable bold col-xs-2">Date</th>
                        <th st-sort="OverallConfidence" class="sortable bold col-xs-1">Confidence</th>
                        <th st-sort="OverallStatus" class="sortable bold col-xs-2">OverallStatus</th>
                        <th class="col-xs-1"></th>
                    </tr>
                    <tr ng-show="home.showFilters">
                        <th />
                        <th>
                            <input st-search="Path" ng-model="homeowner.filters.path" placeholder="path" class="input-sm form-control" type="search" />
                        </th>
                        <th>
                            <st-date-range predicate="TimeStamp" before="home.filters.date.before" after="home.filters.date.after"></st-date-range>
                        </th>
                        <th>
                            <st-number-range predicate="OverallConfidence" lower="home.filters.confidence.lower" higher="home.filters.confidence.higher"></st-number-range>
                        </th>
                        <th>
                            <select st-search="OverallStatus" st-input-event="change" ng-model="home.filters.statusType">
                                <option value="">All</option>
                                <option value="Unknown">Unknown</option>
                                <option value="Error" class="color-error">Error</option>
                                <option value="ConfidenceWarning" class="color-warning-1">ConfidenceWarning</option>
                                <option value="ValidationWarning" class="color-warning-2">ValidationWarning</option>
                                <option value="Success" class="color-success">Success</option>
                            </select>
                        </th>
                        <th/>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="result in home.visibleResults">
                        <td>{{result.Id}}</td>
                        <td>{{result.Path}}</td>
                        <td>{{result.TimeStamp | date}}</td>
                        <td>{{result.OverallConfidence}}</td>
                        <td ng-class="{'color-warning-1': result.OverallStatus === 'ConfidenceWarning', 'color-warning-2': result.OverallStatus === 'ValidationWarning', 'color-error': result.OverallStatus === 'Error', 'color-success': result.OverallStatus === 'Success'}">{{result.OverallStatus}}</td>
                        <td>
                            <button type="button" class="btn btn-default btn-xs" ng-click="home.viewResult(result)"><i class="fa fa-eye right5"></i>View</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>