﻿@using System.DirectoryServices.AccountManagement;

<!DOCTYPE html>
<html lang="en" ng-app="dataRecon">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=10">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    @Styles.Render("~/bundles/style/css/dataRecon")
    @Styles.Render("~/bundles/style/css/libraries")
    @Scripts.Render("~/bundles/js/libraries")
    @Scripts.Render("~/bundles/js/dataRecon")
    <script src="~/dataRecon/shared/constants/constants.cshtml"></script>
    <title ng-bind="title"></title>
</head>
<body ng-cloak>
    <div ng-controller="headerController">
        <header class="nav navbar-default" role="banner">
            <a href="/" class="navbar-brand"><img height="50" src="~/Images/logo_header.png" /></a>
        </header>
        <top-message ng-repeat="topNotification in topNotifications"></top-message>
        <div id="ui-view" class="container-fluid" ui-view></div>
    </div>
</body>
</html>